{% load staticfiles %}
<!DOCTYPE html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">


{% block extra_head %}{% endblock extra_head %}

<html>
    <body>
        <nav>
            Welcome {{ user.username }}!
            <a href="{% url "social:begin" "facebook" %}">Facebook Login</a>
{#            <a href="{% url "social:begin" "instagram"%} ">Instagram Login</a>#}
            <a href="https://instagram.com/oauth/authorize/?client_id=c88c4c32969144a0a121a7cbdaf6a95a&redirect_uri=http://localhost:8000/instagram/&response_type=token">Instagram Login</a>
            <a href="{% url 'logout' %}">Logout All</a>
        </nav>
        {% block content %}{% endblock content %}
    </body>
</html>