{% extends 'base_template.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/map.css" %}">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="{% static "js/map.js" %}"></script>
    <script type="text/javascript">
        var photoData = {{ photo_json|safe }};
    </script>
{% endblock extra_head %}

{% block content %}
    <input type="text" id="month" placeholder="Month (ex: 01)">
    <input type="text" id="year" placeholder="Year (ex: 2014)">
    <button id="getData" type="button">Get Photos</button>
    <button id="offset" type="button">Offset</button>
    <hr>

    <div id="map-container">
        <div id="map_canvas"></div>
    </div>
{% endblock content %}
